<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cemesinsurance.cemes_customer">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cemesinsurance.cemes_customer.Login_01" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.cemesinsurance.cemes_customer.Registration_02" />
        <activity android:name="com.cemesinsurance.cemes_customer.Sign_in" />
        <activity android:name="com.cemesinsurance.cemes_customer.Fingerprint_04" />
        <activity android:name="com.cemesinsurance.cemes_customer.Account_05" />
        <activity android:name="com.cemesinsurance.cemes_customer.Verification" />
        <activity android:name="com.cemesinsurance.cemes_customer.Transaction_08" />
        <activity android:name="com.cemesinsurance.cemes_customer.Charity"/>
        <activity android:name="com.cemesinsurance.cemes_customer.Login">

        </activity>
        <activity android:name="com.cemesinsurance.cemes_customer.Splashscreen" />
        <activity android:name="com.cemesinsurance.cemes_customer.Gift" />
        <activity android:name="com.cemesinsurance.cemes_customer.My_Saving_11" />
        <activity android:name="com.cemesinsurance.cemes_customer.Web1920_13" />
        <activity android:name="com.cemesinsurance.cemes_customer.Web1920_12" />
        <activity android:name="com.cemesinsurance.cemes_customer.Web1920_16" />
        <activity android:name="com.cemesinsurance.cemes_customer.Web1920_14" />
        <activity android:name="com.cemesinsurance.cemes_customer.My_Wallet_07" />
        <activity android:name="com.cemesinsurance.cemes_customer.Activity_list" />
        <activity android:name="com.cemesinsurance.cemes_customer.Web1920_15"></activity>
    </application>

</manifest>